@model ICollection<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}


<!-- Filtro-->
<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <!-- Seleção do tipo de filtro-->
            <select name="TipoFiltro" class="form-control">
                <option value="Livro">Livro</option>
                <option value="Usuario">Usuário</option>
            </select>
        </div>

        <!-- Campo onde digita o que vai buscar-->
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control"/>
        </div>

        <!-- Botão pesquisar-->
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Tabela-->
        <table class="table table-striped"> 
            <!-- Se houverem valores na tabela-->
            @if(Model.Count > 0)
            {
                <!-- Cabeçalho-->
                <thead>
                    <!-- Colunas-->
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Devolvido</th>
                        <th></th>
                    </tr>
                </thead>
            }
            else
            {
                <br><br>
                <h4 class="text-center">Não há valores para serem exibidos</h4>
            }
            <!-- Corpo-->
            <tbody>
                <!-- Loop por emprestimos-->
                @foreach(Emprestimo emp in Model)
                {
                    //Cria um construtor de livro service
                    LivroService livroService = new LivroService();
                    
                    //Recebendo as informações do livro
                    Livro livro = livroService.ObterPorId(emp.LivroId);       
                    
                    <!-- Linha-->
                    <tr>
                        <!-- Colunas-->
                        <td>@emp.Id</td>
                        <td>@emp.NomeUsuario</td>
                        <td>@emp.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                        <td>@emp.DataDevolucao.ToString("dd/MM/yyyy")</td>
                        <td>@livro.Titulo</td>
                        <td>@livro.Autor</td>

                        <!-- Se o livro foi devolvido-->
                        @if(emp.Devolvido)  { <td>Sim</td> }
                        else                { <td>Não</td> }
                        
                        <td><a href="/Emprestimo/Edicao/@emp.Id">Editar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

